body {
	font-family: $base-font;
	font-size: $default-size;

	.container {
		max-width: $content-max-width;
		margin: 0 auto;
		padding: 0 5%;

		&.row {
			display: flex;
		}
		&.center {
			justify-content: center;
		}
		&.spread {
			justify-content: space-around;
		}
	}

	h1 {
		color: $blue;
		font-size: $h1-size;
		font-weight: 800;
		margin-bottom: 20px;
	}

	h2 {
		color: $blue;
		font-size: $h2-size;
		font-weight: 800;
		margin: 50px 0 15px;
		font-family: $accent-font;
	}

	h3 {
		font-family: $accent-font;
		font-weight: 800;
		font-size: $h3-size;
		color: $red;
		margin: 25px auto 10px;
	}

	p {
		line-height: 1.3em;
		margin: 10px 0;
	}

	ul {
		font-size: 16px;
		list-style-type: disc;
		padding-left: 20px;
		margin-top: 20px;

		li {
			margin-bottom: 10px;
			line-height: 1.2em;

			>ul {
				list-style-type: circle;
				margin: 10px 0;

				li {
					margin-bottom: 5px;
				}
			}
		}
	}

	a {
		text-decoration: none;
	}

	.btn {
		align-items: center;
		border-radius: 5px;
		color: $white;
		display: inline-flex;
		padding: 10px 20px;
		text-decoration: none;
		align-self: center;

		.fas {
			margin-left: 5px;
		}

		@include button-hover();

		a {
			color: $white;
			text-decoration: none;
		}

		&.red {
			background: $red;
		}
	}

	.red-text {
		color: $red;
	}

	.grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        @include flex-col-layout($lg-breakpoint);

        >div,
        >a {
            align-items: center;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            text-align: center;
        }

        &.two {

            >div,
            >a {
                width: 50%;

                @include mobile-full-width($lg-breakpoint);
            }
        }

        &.three {

            >div,
            >a {
                width: 33%;

                @include mobile-full-width($lg-breakpoint);
            }
        }

        &.four {

            >div,
            >a {
                width: 20%;

                @include mobile-full-width($lg-breakpoint);
            }
        }

        &.column {

            >a {
                >div {
                    flex-direction: column;
                }
            }
        }
    }

    .play {
		color: $white;
		font-size: 80px;
		opacity: .4;
		width: 50px !important;
		z-index: 2;
		transition: all .3s linear;

		@include translate-x-center();
	}
}